
/* our styles */

.form-group {
  padding-bottom: 20px;
}

.root-container {
  max-width: 95%;
  margin: auto;
}

.slider {
  margin-top: 30px;
}

#sidebar p {
  padding-top: 10px;
}

/* d3 styles */

svg {
  background-color: #74BECB;
}

#sidebar row {
  display: inline-block;
}

.graticule {
  fill: none;
  stroke: green;
  stroke-opacity: .5;
  stroke-width: .5px;
  pointer-events: none;
}

.land {
  fill: #72B554;
  stroke: lightgray;
}

.border {
  fill: none;
  stroke: #FFF;
  stroke-width: .5px;
}

.point {
	fill: orange;
}