
/* our styles */

.form-group {
  padding-bottom: 20px;
}


/* d3 styles */

svg {
  background-color: #74BECB;
}

.graticule {
  fill: none;
  stroke: green;
  stroke-opacity: .5;
  stroke-width: .5px;
  pointer-events: none;
}

.land {
  fill: #72B554;
  stroke: lightgray;
}

.border {
  fill: none;
  stroke: #FFF;
  stroke-width: .5px;
}

.point {
	fill: orange;
}